@import 'variables'

@mixin flex-center 
    display: flex
    justify-content: center

@mixin efecto-tarjetas
    box-shadow: map-get($estilos,"box-shadow")
    backdrop-filter: map-get($estilos,"backdrop-filter")
    -webkit-backdrop-filter: blur( 3.5px )
    border-radius: map-get($estilos,"border-radius")
    border: map-get($estilos,"border")
    

.secc2 
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr

    @media screen and (max-width: 760px) 
        grid-template-columns: 1fr
    
    span
        @media screen and (max-width: 760px)
            display: none

.tarjeta 
    position: relative
    margin: 0
    width: 80%
    height: 80%

.number 
    @include flex-center
    position: absolute
    z-index: 15
    left: 5%
    bottom: 70%
    align-items: center
    width: 50px
    height: 50px
    background-color: white
    border-radius: 30%

.tarjeta__design 
    @include flex-center
    flex-direction: column
    width: 100%
    height: 100%
    padding: 5% 5%
    margin: 0 10%
    color: white
    text-align: center
    background: rgba( 13, 128, 213, 0.6 )
    @include efecto-tarjetas
   

    h2
        font-size: 1.2em
        margin-bottom: 10px


.design-tarj 
    text-align: center
    color: white
    height: 50%
    background: rgba( 255, 255, 255, 0.65)
    @include efecto-tarjetas
    

    p
        font-size: 25px
    
    &:hover
        transition: 0.5s ease-in-out
        animation: map-get($estilos,"animation")



