@import 'variables'
.secc2 
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr

    @media screen and (max-width: 760px) 
        grid-template-columns: 1fr
    
    span
        @media screen and (max-width: 760px)
            display: none

.tarjeta 
    position: relative
    margin: 0
    width: 80%
    height: 80%

.number 
    position: absolute
    z-index: 15
    left: 5%
    bottom: 70%
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    background-color: white
    border-radius: 30%

.tarjeta__design 
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    height: 100%
    padding: 5% 5%
    margin: 0 10%
    color: white
    text-align: center
    background: rgba( 13, 128, 213, 0.6 )
    box-shadow: $box-shadow
    backdrop-filter: $backdrop-filter
    -webkit-backdrop-filter: blur( 2.5px )
    border-radius: $border-radius
    border: $border

    h2
        font-size: 1.2em
        margin-bottom: 10px


.design-tarj 
    text-align: center
    color: white
    background: rgba( 255, 255, 255, 0.65)
    backdrop-filter: $backdrop-filter
    -webkit-backdrop-filter: blur( 3.5px )
    box-shadow: $box-shadow
    border-radius: $border-radius
    border: $border

    p
        font-size: 25px
    
    &:hover
        transition: 0.5s ease-in-out
        animation: $animation



