@import 'variables'
.texto-principal
    text-align: center

.btn-mine
    background-color: white
    border: none  
    font-size: 1.1em 
    color: rgb(92, 92, 92)
    border-radius: 50px
    padding: 10px
    width: 180px
    margin-top: 15px
    margin-right: 15px
    margin-left: 15px

    &:hover 
        animation: map-get($estilos,"animation")
        background: rgb(255, 255, 255)
        backdrop-filter: blur( 4.5px )
        -webkit-backdrop-filter: blur( 4.5px )
        color: black

.carousel
    background-color: #DC262B
    position: relative

.carousel__lista
    margin-left: 40px
    margin-right: 54px

.carousel__elemento
    margin-top: 30px
    margin-bottom: 30px
    img
        width: 90px
        height: 90px

.carousel__anterior 
    position: absolute
    display: block
    width: 30px
    height: 50px
    border: none
    top: calc(50% - 35px)
    cursor: pointer
    line-height: 40px
    text-align: center
    background: none
    color: black
    
    
.carousel__siguiente
    @extend .carousel__anterior
    right: 0