@import 'variables'

*
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif

body
    background: black

.nav-link
    color: white
    display: flex
    justify-content: center
    text-align: center

    &:hover
        color: white
        animation: map-get($estilos,"animation")
        border-radius: 50px

.nav-item
    margin-bottom: 20px
    margin: 0 3px
    padding: 10px

.logo

    @media screen and ( max-width: 415px)
        width: 220px !important         
            

@keyframes pulsate 
    0%
        box-shadow: map-get($estilos,"box-shadow-pulsate")
    
    100%
        box-shadow: map-get($estilos,"box-shadow-pulsate")
