@import 'variables'

@mixin flex-center
    display: flex
    justify-content: center

@mixin estilo
    box-shadow: map-get($estilos,"box-shadow")
    backdrop-filter: map-get($estilos,"backdrop-filter")
    border-radius: map-get($estilos,"border-radius")
    border: map-get($estilos,"border")

.section1_3
    color: white
    
    div
        display: grid
        grid-template-columns: 90px 30px 85px, 50px
        margin-bottom: 40px
        margin-top: 45px

        span
            @include flex-center
            
        
        h1
            @include flex-center
        
        h2
            @include flex-center
        
        p
            @include flex-center
            margin-top: 10px
            @media screen and (max-width: 400px)
                text-align: center

    

.btn-modif2
    width: 240px
    position: relative 
    left: 15px

.section2_3
    position: relative
    @media screen and (max-width: 1200px)
        margin-bottom: 50px

.hr-visionly
    width: 100%
    margin-bottom: 390px

    @media screen and (max-width: 1022px)
        width: 100%
        margin-bottom: 450px

    @media screen and (max-width: 926px)
        margin-bottom: 410px

    @media screen and (max-width: 720px)
        margin-bottom: 0


.jobs_container
    @include estilo
    display: grid
    height: 520px
    width: 75%
    position: absolute 
    top: 45%
    left: 0
    right: 0
    margin: auto
    color: white
    border-style: solid
    border-color: white
    background: rgba( 255, 255, 255, 0.5 )
    -webkit-backdrop-filter: blur( 2.5px )


    @media screen and (max-width: 926px)
        top: 35%
        width: 85%

    @media screen and (max-width: 720px)
        display: flex
        flex-direction: column
        position: relative
        width: 100%
        height: 100%

.jobs_grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr
    row-gap: 5%
    justify-items: center
    position: relative
    top: 25px
    right: 20px



    @media screen and (max-width: 720px)
        display: flex 
        flex-direction: column
        row-gap: 15px 
        top: 0
        align-items: center
        margin: 20px 0

.job
    @include estilo
    flex-direction: column
    background: rgba( 99, 26, 109, 0.6 )
    -webkit-backdrop-filter: blur( 2.5px )


    img
        width: 80px
        height: 80px
        
    
    &:hover
        animation: map-get($estilos,"animation")

/*     @media screen and (max-width: 720px)
        padding: 15px 0
        width: 50% */